body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #282c34;
    color: #abb2bf;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.editor {
    display: flex;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.line-numbers {
    background-color: #252526;
    color: #858585;
    padding: 10px;
    text-align: right;
    border-right: 1px solid #3c3c3c;
    user-select: none;
    opacity: 0.5; /* Desenfoque de los números */
    filter: blur(1px); /* Aplicar desenfoque */
}

.line-numbers span {
    display: block;
    line-height: 1.5;
}

.content {
    padding: 10px;
    width: 600px;
}

.content p {
    margin: 0;
    line-height: 1.5;
}
