@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&family=Skranji:wght@400;700&display=swap');

:root{
    --color-primario: #E5E5E5;
    --color-secundario: #ffffff;
    --color-terciario: #0A3871;
    --color-advertencias: #495057;
    --color-cuaternario: #D8DFE8;

    
    --font-signika: "Signika", sans-serif;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-normal: "normal";

    --font-ibm: "IBM Plex Serif", serif;

    --size-8px: 0.5rem;
    --size-16px: 1rem;
    --size-24px: 1.5rem;
    --size-32px: 2rem;
    --size-40px: 2.5rem;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--color-primario);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}
.header{
    padding: 2.5rem 0 0 2.5rem;
}
.header__menu{
    display: flex;
    gap: 80px;
}
.header__menu__link{
    font-family: var(--font-ibm);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciaria);
    text-decoration: none;

}
.header-logo{
    display: flex;
    width: 50%;
    gap: 80px;
}

.container {
    background-color: var(--color-secundario);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 600px;
}
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

textarea {
width: 100%;
height: 150px;
padding: 10px;
border: 1px solid #ddd;
border-radius: 5px;
resize: vertical;
font-size: var(--size-16px);
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--size-16px);
    transition: background-color 0.3;
}
#encrypBtn {
    background-color: #4CAF50;
    color: var(--color-secundario);
}
#decrypBtn {
    background-color: #f44336;
    color: var(--color-secundario);
}
#copyBtn {
    background-color: #008CBA;
    color: var(--color-secundario);
    margin-top: 10px;
}
button:hover {
    opacity: 0.9;
}

.input-section, .output-section {
    margin-bottom: 20px;
} 

footer {
    padding: 10px;
    background-color: var(--color-advertencias);
    color: var(--color-terciario);
    width: 100%;
    text-align: center;
    text-align: center;
    font-family: var();
    font-size: var(--size-24px);
    font-weight: 400;
}
/* ... (el resto del CSS) ... */

@media (max-width: 480px) {
    .container {
        padding: 20px;
    }

    .header{
        padding: 10%;  
   }

   .header__menu{
       justify-content: center;
   }

    .buttons {
        flex-direction: column;
    }

    button {
        margin-top: 10px;
        width: 100%;
    }
}